#################### CLIENT ####################
iptables -F INPUT
iptables -F OUTPUT
iptables -F FORWARD

#1. I Client sulla rete privata 192.168.0.0/24 devono poter interrogare DNS e 
#   servizi di sincronizzazione NTP in Internet (porte UDP 53 e 123)
iptables -A OUTPUT -p udp -o eth1 -s 192.168.0.0/24 --dport 53 -j ACCEPT
iptables -A INPUT -p udp -i eth1 -d 192.168.0.0/24 --sport 53 -m state --state ESTABLISHED -j ACCEPT 
iptables -A OUTPUT -p udp -o eth1 -s 192.168.0.0/24 --dport 123 -j ACCEPT
iptables -A INPUT -p udp -i eth1 -d 192.168.0.0/24 --sport 123 -m state --state ESTABLISHED -j ACCEPT

#2. e 3. non da configurare

#Politiche di defualt
iptables -P INPUT DROP
iptables -P OUTPUT DROP
iptables -P FORWARD DROP
#################### CLIENT ####################


#################### ROUTER ####################
iptables -t nat -F
iptables -F INPUT
iptables -F OUTPUT
iptables -F FORWARD

#1. I Client sulla rete privata 192.168.0.0/24 devono poter interrogare DNS e 
#   servizi di sincronizzazione NTP in Internet (porte UDP 53 e 1233)
iptables -A FORWARD -p udp -i eth3 -o eth1 -d 192.168.0.0/24 --sport 53 -j ACCEPT
iptables -A FORWARD -p udp -o eth3 -i eth1 -s 192.168.0.0/24 --dport 53 -m state --state ESTABLISHED -j ACCEPT
iptables -A FORWARD -p udp -i eth3 -o eth1 -d 192.168.0.0/24 --sport 123 -j ACCEPT
iptables -A FORWARD -p udp -o eth3 -i eth1 -s 192.168.0.0/24 --dport 123 -m state --state ESTABLISHED -j ACCEPT

#Uso la tabella nat e inserisco nella catena di postrouting un target SNAT che permette di cambiare l'indirizzo sorgente
# di un pacchetto, tradotto: i pacchetti del client(richieste dns/ntp configurati prima) hanno accesso a "internet" quindi
# verranno modificati in modo che l'indirizzo IP sorgente sia 130.136.5.15. Questo è utile quando si desidera nascondere 
# gli indirizzi IP interni dietro un indirizzo IP pubblico per il routing su Internet o per altri scopi di sicurezza e 
# gestione del traffico.
iptables -t nat -A POSTROUTING -p tcp -i eth1 -s 192.168.0.0/24 -o eth3 -j SNAT --to-source 130.136.5.15


#2. Il servizio SMTP (porta 25 tcp ) del Server collocato sulla rete privata 
#   172.16.0.0/20 deve essere raggiungibile da qualsiasi host di Internet
iptables -t nat -A PREROUTING -p tcp -i eth3 -s 130.136.5.15 --dport 25 -o eth1 -j DNAT --to-destination 172.16.0.1
iptables -A FORWARD -p tcp -i eth3 -o eth2 -d 172.16.0.1 --dport 25 -j ACCEPT
iptables -A FORWARD -p tcp -o eth3 -i eth2 -s 172.16.0.1 --sport 25 -m state --state ESTABLISHED -j ACCEPT
  

#3. Il servizio LDAP (porta 389 tcp) del Router deve essere raggiungibile dal Server
iptables -A INPUT -p tcp -i eth2 -s 172.16.0.1 -d 172.16.15.254 --dport 389  -j ACCEPT
iptables -A OUTPUT -p tcp -o eth2 -d 172.16.0.1 -s 172.16.15.254 --sport 389 -m state --state ESTABLISHED -j ACCEPT

#Politiche di defualt
iptables -P INPUT DROP
iptables -P OUTPUT DROP
iptables -P FORWARD DROP
#################### ROUTER ####################


#################### SERVER ####################
iptables -F INPUT
iptables -F OUTPUT
iptables -F FORWARD

#per garantire comunicazione interna tra processi sul server
iptables -A INPUT -i lo -j ACCEPT
iptables -A OUTPUT -o lo -j ACCEPT

#1. Niente da configurare

#2. Il servizio SMTP (porta 25 tcp ) del Server collocato sulla rete privata 
#   172.16.0.0/20 deve essere raggiungibile da qualsiasi host di Internet
iptables -A INPUT -p tcp -i eth1 -d 172.16.0.1 --dport 25 -j ACCEPT
iptables -A OUTPUT -p tcp -o eth1 -s 172.16.0.1 --sport 25 -m state --state ESTABLISHED -j ACCEPT

#3. Il servizio LDAP (porta 389 tcp) del Router deve essere raggiungibile dal Server
iptables -A OUTPUT -p tcp -o eth1 -s 172.16.0.1 -d 172.16.15.254 --dport 389 -j ACCEPT
iptables -A INPUT -p tcp -i eth1 -d 172.16.0.1 -s 172.16.15.254 --sport 389 -m state --state ESTABLISHED -j ACCEPT

#Politiche di defualt
iptables -P INPUT DROP
iptables -P OUTPUT DROP
iptables -P FORWARD DROP
#################### SERVER ####################